@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-offset-4 col-md-6 testdesign" >
    <br />
    <br />
    <h1>WELCOME TO QUIZZERY</h1>
    <h2> The Quiz Assessment Tool</h2>
    <br />
    <br />
    <br />
   
    
    <a href="Home/Quiz" class="btn btn-group-lg btn-warning mr-md-2 mb-0 buttonForm" role="button">TAKE QUIZ</a>
    <a href="Question/Index" class="btn btn-group-lg btn-warning mr-md-2 mb-0 buttonForm" role="button">CREATE QUIZ</a>
   
</div>
